<h1>MusicApp</h1>
<p>Thanks for registering for an account on MusicApp! To activate your account 
and access our content, please confirm your email by clicking the activation link 
below. If you did not register with MusicApp, you can just ignore this email.</p>
<%= link_to "Activate my account as #{@user.email}", 
activate_users_url(activation_token: @user.activation_token), 
class: "activation_link" %>
<p>We can't wait to see you on the site!</p>
<p>Best wishes,<br>
The MusicApp Team</p>
