<h5>Navigation:</h5>
<nav>
   <ul>
      <li><%= link_to "Artists", artists_url %></li>
      <% record_directory.each do |link_object| %>
         <% case link_object %>
         <% when String %>
            <li><%= link_object %></li>
         <% when Artist %>
            <li><%= link_to link_object.name, link_object%></li>
         <% else %>
            <li><%= link_to link_object.title, link_object%></li>
         <% end %>
      <% end %>
   </ul>
</nav>
