<h1>Edit <%= @artist.name %>'s Profile</h1>

<%= render"shared/errors", errors: flash[:errors] if flash[:errors] %>
<%= render "form", artist: @artist %>

<% content_for :footer do %>
   <%= render "shared/nav", record_directory: [@artist, "Edit"] %>
<% end %>